@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

.font-title {
    font-family: 'Domine', serif;
}

nav {
    padding: 15px;
}

nav>a.nav-brand {
    color: black;
    cursor: pointer;
    text-decoration: none;
}

.bg-light-gray {
    background-color: #e9ecef;
}

.search-form {
    border-radius: 40px;
    padding: 12.5px 20px;
}

.search-input {
    /* remove default style */
    width: 200px;
    background: none;
    border: none;
    outline: none;
    appearance: none;
    font-size: 14px;
    padding: 0;
}

.search-input::-webkit-search-cancel-button {
    appearance: none;
}

.search-button {
    padding: 0;
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    color: rgba(0, 0, 0, .6);
    box-sizing: border-box;
}

.content {
    padding: 20px 15px;
}

div.book-card {
    width: 200px;
    margin-right: 30px;
}

div.book-cover {
    height: 300px;
}

div.book-cover>img {
    height: 100%;
}

.author-card {
    width: 100px;
    margin-right: 25px;
}

.author-photo {
    overflow: hidden;
    height: 100px;
}


.scroller {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.scroller > button {
    pointer-events: auto;
}
